// <<<<<<<<<<<<<<<<<<<<    ********************    >>>>>>>>>>>>>>>>>>>>
//                         invest
// <<<<<<<<<<<<<<<<<<<<    ********************    >>>>>>>>>>>>>>>>>>>>

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    overflow: hidden;
}

.caption {
    font-size: 52px;
}


